ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline-flex {
  display: inline-flex;
}

.clear-both {
  clear: both;
}

.float-right {
    float: right;
}

.full-width {
    width: 100%;
}

.text-align-right{
  text-align: right;
}

* {
    outline: none;
}