ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.clear-both {
  clear: both;
}

.float-right {
    float: right;
}

.full-width {
    width: 100%;
}

