input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"]{
    border: none;
    padding: 10px;
}

input[type="submit"],
input[type="button"],
button {
    border: none;
    background: $ORANGE-DARK-A;
    color: white;
}

