@import '../../../scss/global/global.scss';

header {
    background: $BLUE-DARK-A;
    color: $GREY-SOFT-A;

    h1{
        margin: 0px;
        cursor: pointer;
    }
    .signup-login{
        padding-top: 9px;
    }
    .login-signup-info{
        padding-top: 3px;
    }
    
}