ul.events {
    display: flex;
    .event {
        display: inline-flex;
        width: 24%;
        margin: 0.5%;
        cursor: pointer;
        .title {
            text-align: center;
            background: $GREY-SOFT-B;
            padding: 5px;
        }
        .image {
            border: 1px solid $GREY-SOFT-B;
            img{
                width: 100%;
            }
        }

        &:hover{
            opacity: 0.7;
        }
    }
}