.ticker-summary{
    position: sticky;
    font-size: 24px;
    padding-bottom: 10px;
    top: 0;
    background: white;
    z-index: 1;
    .info {
        font-size: 14px;
        padding-top: 5px;
    }
    .interest-info{
        display: block;
        font-size: 12px;
        clear: both;
    }
}